.profile__block {
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 736px) {
    .profile__block {
        grid-template-columns: auto 1fr;
        margin-left: 46px;
    }
}