.popup__close {
    background: url(../../../images/CloseIcon.png);
    width: 32px;
    height: 32px;
    border: none;
    margin-top: 155px;
    cursor: pointer;
    padding: 0;
    margin-left: 480px;
    margin-bottom: 8px;
    background-size: cover;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        width: 20px;
        height: 20px;
        margin-top: 87px;
        margin-bottom: 16px;
        margin-left: 262px;
    }
}