.card__like {
    width: 22px;
    height: 19px;
    background: url(../../../images/Vector2.png);
    border: none;
    padding: 0;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.card__like:hover {
    opacity: 0.5;
    transform: scale(1.2);
}